@use '../../../sass/index' as *;

.circularButton {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    position:relative;


    //sizes
    &.sm{
        width: 2rem;
        height: 2rem;
    }
    &.md {
        width: 3rem;
        height: 3rem;
    }

    &.lg {
        width: 3.75rem;
        height: 3.75rem;
    }

    // colors
    &.base {
        background-color: $textBaseColor;
        color: white;        
    }
    &.white {
        background-color: white;
        color: rgba(34, 34, 34, 1);
    }
}