@use '../../sass/index' as *;

.fog.true {
    position:absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.25);

    .shoppingcart.true {
        width: 21.3125rem;
        height: 35.3125rem;
        position: absolute;
    
        z-index: 50;
        top: 4.5rem;
        left: 17px;
        background-color: white;
        border-radius: 3px;
    
    
        &::after {
            @include pseudocontent(1.375rem, 1.375rem, white);
            transform: rotate(45deg);
            right: 1.145rem;
            top: -0.325rem;
            border-radius: 3px;
        }
    }
}

