@use './variables.scss' as *;

@mixin paragraphFontStyling($weight: $paragraphBaseWeight, $size: $paragraphBaseSize, $color: $textBaseColor) {
    font-family: $paragraphFont;
    font-size: $size;
    font-weight: $weight;
    color: $color;
};

@mixin headerFontStyling($size: $headerBaseSize, $color: $textBaseColor) {
    font-family: $headerFont;
    font-size: $size;
    font-weight: $headerBaseWeight;
    color: $color;
};

@mixin headerPadding {
    padding-top: $headerHeight;
};

@mixin footerPadding {
    padding-bottom: $footerHeight;
};

@mixin flex($justify: center, $align: center) {
    display:flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($width, $height) {
    position: relative;
    width: $width;
    height: $height;
    transition-duration: 0.5s;
}

@mixin circular($color: $white, $bgColor: $textBaseColor) {
    border-radius: 50%;
    color: $color;
    background-color: $bgColor;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    border-radius: 1px;
    top: 30px;
    background-color: rgba(34, 34, 34, 1);
}

@mixin icon-before($height, $width, $top) {
    left: 0;
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    border-radius: 1px;
    background-color: rgba(34, 34, 34, 1);
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    left: 0;
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    border-radius: 1px;
    background-color: rgba(34, 34, 34, 1);
    content: "";
    top: $top;
}
