
// Background colors
$landingBg: rgba(56, 132, 109, 1);
$pinkBg: rgba(243, 228, 225, 1);


// Fontstyles
$paragraphFont: "Work Sans", sans-serif;
$headerFont: "PT Serif", serif;

$paragraphBaseSize: 0.75rem;
$paragraphBaseWeight: 400;

$headerBaseSize: 2rem;
$headerBaseWeight: 700;

$textBaseColor: rgba(47, 41, 38, 1);


// Heights & widths
$headerHeight: 7.0625rem;
$footerHeight: 4.5625rem;

$maxAppWidth: 23.4375rem;