@use '../../sass/index' as *;

.menulist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: $footerHeight;

    &__header {
        @include headerFontStyling(42px);
    }

    .item {
        display:flex;
        position: relative;
        align-items: center;
        width: 19.4375rem;
        height: 4rem;
        justify-content:space-between;

        .item__info {
            .info--title {
                @include headerFontStyling(19px);
                display: flex;
                justify-content: space-between;
                width: 16.4375rem;

                * {
                    text-wrap: nowrap;
                }

                .dots {
                    overflow:hidden;
                    @include headerFontStyling(10px, rgba(0, 0, 0, 0.4));
                    align-self: last baseline;
                }

                .info--price {
                    padding-left: .75rem;
                }

            }
            

            .info--desc {
                @include paragraphFontStyling(12px)
            }
        }

       
    }
}
