@use '../../sass/index' as *;


.spinner {
    padding-bottom: 15rem;
}
.menulist {
    @include flex;
    flex-direction:column;
    gap: 1rem;
    padding-bottom: $footerHeight;

    &__header {
        @include headerFontStyling(42px);
    }

    .item {
        @include flex(space-between);
        position: relative;
        width: 19.4375rem;
        height: 4rem;

        &--addbutton {
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
            @include circular;
            @include btn(2rem, 2rem);
            @include flex;
        }

        .item__info {
            .info--title {
                @include headerFontStyling(19px);
                display: flex;
                justify-content: space-between;
                width: 16.4375rem;

                * {
                    text-wrap: nowrap;
                }

                .dots {
                    overflow:hidden;
                    @include headerFontStyling(10px, rgba(0, 0, 0, 0.4));
                    align-self: last baseline;
                }

                .info--price {
                    padding-left: .75rem;
                }

            }
            

            .info--desc {
                @include paragraphFontStyling(12px)
            }
        }

       
    }
}
