@use '../../../sass/index' as *;

.nav__overlay {
  @include full-overlay();
  @include flex(center, flex-start);
  // padding-top: 6rem;
  transition: .4s ease-out;
  
  opacity: 0;
  transform: translateX(-100%);
}

.true {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.navigation {
  @include flex;
  padding-top: 14.6875rem;
  gap: 1rem;
  flex-direction: column;

  h2 {
    @include headerFontStyling(2rem, white);
    text-align: center;
    height: 45px;
    width: 311px;
    transition: .1s;
    cursor: pointer;

    &:hover {
      text-shadow: 1px 1px 5px rgba(255,255,255,0.8);
    }
  }
}