@use '../../../sass/index' as *;

.footer {
    background-image: url('../../../assets/footer-background.png');
    background-size: $maxAppWidth $footerHeight;
    width: $maxAppWidth;
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    left: 0;
}